<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div th:fragment="footer" class="text-center lg:text-left bg-gray-100 text-gray-600">
    <div class="text-center p-6 bg-gray-200">
        <span>© 2022 Dierenwinkel Application Frameworks (by Silke Vervaecke) </span>
    </div>
<!--    <a target="_blank" href="https://icons8.com/icon/121346/cat">Cat</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
<!--    <a target="_blank" href="https://icons8.com/icon/121336/dog-jump">Dog Jump</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
<!--    <a target="_blank" href="https://icons8.com/icon/121354/pet-bowl">Pet Bowl</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
<!--    <a target="_blank" href="https://icons8.com/icon/54035/owl">Owl</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
<!--    <a target="_blank" href="https://icons8.com/icon/121202/dog-house">Dog House</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->

<!--    <a target="_blank" href="https://icons8.com/icon/mW3reneEzjvv/unicorn">Unicorn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
<!--    <a href="https://www.vecteezy.com/free-vector/unicorn">Unicorn Vectors by Vecteezy</a>-->

</div>
</body>
</html>