<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="flex flex-col h-screen justify-between">
    <div th:replace="fragments/header :: header" >
        <nav class="h-10 bg-red-500 text-center">
            <div>
                Static Navigation bar
            </div>
        </nav>
    </div>

    <div class="content mb-auto ">
        <!-- content -->
        <table class="table-auto">
            <thead>
            <tr>
                <th>Song</th>
                <th>Artist</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
                <td>Malcolm Lockyer</td>
                <td>1961</td>
            </tr>
            <tr>
                <td>Witchy Woman</td>
                <td>The Eagles</td>
                <td>1972</td>
            </tr>
            <tr>
                <td>Shining Star</td>
                <td>Earth, Wind, and Fire</td>
                <td>1975</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div th:replace="fragments/footer :: footer" >
        <div class="h-10 bg-blue-500 text-center">
            <span >© 2022 Static </span>
        </div>
    </div>
</div>
</body>
</html>
